@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

:root {
  --white: #f5e8df;
  --dark-blue: #062746;
  --black: #212529;
  --green: #378805;
  --yellow: #e6b400;
  --blue: #0099ff;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Hubballi';
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--black);
  text-align: left;
  background-color: #fffafa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 2px solid var(--dark-blue);
  border-radius: 15px;
  background-image: linear-gradient(-45deg, var(--dark-blue) 10%, transparent 10%, transparent 50%, var(--dark-blue) 50%, var(--dark-blue) 60%, transparent 60%);
  background-size: 10px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 8px;
}

.dark-node-highlight {
  background-color: #10446b;
}

.sketch-node-highlight {
  background-color: #b8dbd9;
}

.dark-scope-highlight {
  background-color: #10446b;
}

.sketch-scope-highlight {
  background-color: #b8dbd9;
}