.console-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  height: 30%;
  border: 1px solid black;
}

.sketch-console-container {
  display: flex;
  flex-direction: column;
  min-height: 25%;
  max-height: 25%;
  border: 2px solid #062746;
}

.console-header {
  display: flex;
  position: fixed;
  background-color: #586f7c;
  color: #f4f4f9;
  text-align: center;
  padding-right: 5px;
  border-bottom-right-radius: 7px;
  border: 1px solid #586f7c;
}

.sketch-console-header {
  display: flex;
  width: fit-content;
  background-color: #062746;
  color: #f5e8df;
  text-align: center;
  padding-right: 5px;
  border-bottom-right-radius: 7px;
}
