.dark-console-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid var(--white);
  z-index: 1;
}

.sketch-console-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid var(--dark-blue);
  z-index: 1;
}

.dark-console-header {
  display: flex;
  width: fit-content;
  background-color: var(--white);
  color: var(--dark-blue);
  text-align: center;
  padding-right: 5px;
  border-bottom-right-radius: 7px;
}

.sketch-console-header {
  display: flex;
  width: fit-content;
  background-color: var(--dark-blue);
  color: var(--white);
  text-align: center;
  padding-right: 5px;
  border-bottom-right-radius: 7px;
}