.script-select-button {
  padding: 0.5%;
  height: 25px;
  border: none;
  border-bottom: 1px solid black;
  background-color: #fffafa;
}

.sketch-script-select-button {
  padding: 0.5%;
  height: 25px;
  border: none;
  border-bottom: 2px solid #062746;
  background-color: #f5e8df;
  font-family: "Hubballi";
  font-weight: 600;
  font-size: 16px;
}

.script-select-button-active {
  padding: 0.5%;
  height: 25px;
  border-bottom: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: #fffafa;
}

.sketch-script-select-button-active {
  padding: 0.5%;
  height: 25px;
  border-bottom: none;
  border-top: 2px solid #062746;
  border-left: 2px solid #062746;
  border-right: 2px solid #062746;
  background-color: #f5e8df;
  font-family: "Hubballi";
  font-weight: 600;
  font-size: 16px;
}

.script-select-button:hover {
  background-color: #eee;
}

.sketch-script-select-button:hover {
  background-color: #062746;
  color: #f5e8df;
}
