.dark-script-select-button {
  padding: 5px;
  border: none;
  border-bottom: 2px solid var(--white);
  background-color: var(--black);
  font-family: "Hubballi";
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
}

.sketch-script-select-button {
  padding: 5px;
  border: none;
  border-bottom: 2px solid var(--black);
  background-color: var(--white);
  font-family: "Hubballi";
  font-weight: 600;
  font-size: 16px;
}

.dark-script-select-button-active {
  padding: 5px;
  border-bottom: none;
  border-top: 2px solid var(--white);
  border-left: 2px solid var(--white);
  border-right: 2px solid var(--white);
  background-color: var(--black);
  font-family: "Hubballi";
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
}

.sketch-script-select-button-active {
  padding: 5px;
  border-bottom: none;
  border-top: 2px solid var(--black);
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
  background-color: var(--white);
  font-family: "Hubballi";
  font-weight: 600;
  font-size: 16px;
}

.dark-script-select-button:hover {
  background-color: var(--white);
  color: var(--black)
}

.sketch-script-select-button:hover {
  background-color: var(--black);
  color: var(--white);
}