.theme-button {
  position: relative;
  width: 35px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
}

.dark-sun,
.sketch-sun,
.dark-moon,
.sketch-moon {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.dark-sun {
  background: url('../assets/images/dark-sun.svg') no-repeat center;
  background-size: 35px 35px;
  transform: translateY(0);
}

.sketch-sun {
  background: url('../assets/images/sketch-sun.svg') no-repeat center;
  background-size: 35px 35px;
  transform: translateY(100%);
}

.dark-moon {
  background: url('../assets/images/dark-moon.svg') no-repeat center;
  background-size: 25px 25px;
  transform: translateY(100%);
}

.sketch-moon {
  background: url('../assets/images/sketch-moon.svg') no-repeat center;
  background-size: 25px 25px;
  transform: translateY(0);
}

.dark-ground {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: var(--white);
  border-radius: 20px;
}

.sketch-ground {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: var(--dark-blue);
  border-radius: 20px;
}

.theme-button.dark .dark-sun {
  transform: translateY(100%);
  transition-delay: 0s;
  /* No delay when moving down */
}

.theme-button.sketch .sketch-sun {
  transform: translateY(0);
  transition-delay: 0.3s;
  /* Delay the transition */
}

.theme-button.dark .dark-moon {
  transform: translateY(0);
  transition-delay: 0.3s;
  /* Delay the transition */
}

.theme-button.sketch .sketch-moon {
  transform: translateY(100%);
  transition-delay: 0s;
  /* No delay when moving down */
}