.theme-button {
  position: relative;
  width: 35px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
}

.sun, .moon {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.sun {
  background: url('../assets/images/sun.svg') no-repeat center;
  background-size: 35px 35px;
  transform: translateY(0);
}

.moon {
  background: url('../assets/images/moon.svg') no-repeat center;
  background-size: 25px 25px;
  transform: translateY(100%);
}

.ground {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #062746;
  border-radius: 20px;
}

.theme-button.dark .sun {
  transform: translateY(100%);
  transition-delay: 0s; /* No delay when moving down */
}

.theme-button.dark .moon {
  transform: translateY(0);
  transition-delay: 0.3s; /* Delay the transition */
}

.theme-button.sketch .sun {
  transform: translateY(0);
  transition-delay: 0.3s; /* Delay the transition */
}

.theme-button.sketch .moon {
  transform: translateY(100%);
  transition-delay: 0s; /* No delay when moving down */
}
