.tooltip {
  position: absolute;
  display: inline-block;
  background-color: var(--white);
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  margin-bottom: 15px;
  z-index: 2;
}

.tooltip::after,
.tooltip::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tooltip::before {
  border-top: 10px solid var(--dark-blue);
}

.tooltip::after {
  border-top: 10px solid var(--white);
  bottom: -8px;
}