.zoom-button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 4px;
}

.dark-zoom-button {
  background-color: #212529;
  border: 2px solid #f5e8df;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 2px;
  width: 25px;
  height: 25px;
  margin: 1px;
  color: #f5e8df;
}

.sketch-zoom-button {
  background-color: #f5e8df;
  border: 2px solid #062746;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 2px;
  width: 25px;
  height: 25px;
  margin: 1px;
}

.dark-zoom-button:hover {
  background-color: #f5e8df;
  color: #212529;
}

.sketch-zoom-button:hover {
  background-color: #062746;
  color: #f5e8df;
}
